# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: (c) Copyright 2024 Andrew Bower <andrew@bower.uk>

*.d
*.o
.*.swp
xchpst
chpst
chpst.compat
softlimit
envdir
envuidgid
pgrphack
setlock
setuidgid
.github/
